 <%= erb :_nav %>
 <% counter = 1 %>

<center>
	<tr style="height:10px"></tr>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<% @comments.each do |comment| %>
					<tr>
						<td align="right" valign="top" class="title">
							<%= counter.to_s + "." %>
						</td>
							<td>
							</td>
							<td class="title">
								<a href="/post/<%= comment.post_id %>"><%= comment.comment.capitalize %></a>
								<% counter += 1 %>
							</td>
							<tr>
					</tr>
					<tr>
						<td colspan="2">
						</td>
						<td class="subtext">
							<span id="score_8550148">1 point
							</span> by 
							<a href="/user/<%= comment.user_id %>">
								<font color="#3c963c"><%= comment.user.username %>
								</font>
							</a> <%= comment.created_at %>  | 
							<a href="item?id=8550148">discuss
							</a> | 
							<a href="edit?id=8550148">edit</a> | 
							<a href="delete-confirm?id=8550148&amp;whence=%6e%65%77%65%73%74">delete
							</a>
						</td>
					</tr>
					<% end %>
						<td class="title">
							<a href="newest?next=8549932&amp;n=31" rel="nofollow">More</a>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>

  <table width="100%" cellspacing="0" cellpadding="1">
    <tbody>
      <tr>
        <td bgcolor="#ff6600"></td>
      </tr>
    </tbody>
  </table>
  <br>
</center>

<%= erb :_footer %>